/* client/src/components/styles/InTheater.css */
.category {
    padding: 20px;
    color: #ff3333;
}

.category h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.category-movies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-cards {
    display: flex;
    gap: 15px;
    overflow: hidden;
}

.nav-button {
    background: none;
    color: #00aaff;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
